<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let articulo of listaNoticias">
    <app-noticia-card [articulo]="articulo"></app-noticia-card>
    <ion-item>
      <ion-button fill="clear" [href]="articulo.url" target="_blank">
        <ion-icon name="book-outline" style="font-size: 40px;"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="presentAlert(articulo)">
        <ion-icon  name="trash-outline" slot="end" style="font-size: 40px;"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
