<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    <ion-item *ngFor="let item of listaNoticias">
      <ion-checkbox color="primary" slot="start" [checked]= "seleccionado(item)" (ionChange)="siNoticia($event, item)"></ion-checkbox>
      <ion-label>        
        <h2>{{item.source.name}}</h2>
        <p>{{item.title}}</p>
      </ion-label>
    </ion-item>   
  </ion-list>
</ion-content>